## Pre Processing Goals

Create variables useful for association rule mining

In [1]:
import pandas as pd

df = pd.read_csv('online_retail.csv')

In [2]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/10 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/10 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/10 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/10 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/10 8:26,3.39,17850.0,United Kingdom

In [3]:
df['dt_obj'] = pd.to_datetime(df.InvoiceDate)

In [4]:
df['month_sold'] = list(map(lambda x: str(x.month), df.dt_obj))

In [5]:
df['day'] = list(map(lambda x: str(x.day), df.dt_obj))

In [6]:
df['day_of_year'] = list(map(lambda x: str(x.timetuple().tm_yday), df.dt_obj))

In [7]:
df['customer_id'] = list(map(lambda x: str(x), df.CustomerID))

In [8]:
# > table(discretize(df$Quantity, method='frequency',categories = 5))

# [-80995,    2)              2 [     3,    6) [     6,   13) [    13,80995] 
#         158851          81829          87362         143255          70612 

qty_bins = [-80995, 1.99, 2.01, 6, 13, 80995]

grp_names = ['Qty_Lvl_1','Qty_Lvl_2','Qty_Lvl_3','Qty_Lvl_4','Qty_Lvl_5']

new_qty = pd.cut(df.Quantity, qty_bins, labels=grp_names)

df['quantity_groups'] = new_qty

In [9]:
# > table(discretize(df$UnitPrice, method='frequency',categories = 5))

# [-11062.06,    0.86) [     0.86,    1.66) [     1.66,    2.60) [     2.60,    4.96) [     4.96,38970.00] 
#               113126               119971                93042               123061                92709 


price_bins = [-11062.06, 0.85, 1.65, 2.59, 4.95, 38970.00]

price_grps = ['Price_Lvl_1','Price_Lvl_2','Price_Lvl_3','Price_Lvl_4','Price_Lvl_5']

new_prc = pd.cut(df.UnitPrice, price_bins, labels=price_grps)

df['price_groups'] = new_prc

In [10]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,dt_obj,month_sold,day,day_of_year,customer_id,quantity_groups,price_groups
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/10 8:26,2.55,17850.0,United Kingdom,2010-12-01 08:26:00,12,1,335,17850.0,Qty_Lvl_3,Price_Lvl_3
1,536365,71053,WHITE METAL LANTERN,6,12/1/10 8:26,3.39,17850.0,United Kingdom,2010-12-01 08:26:00,12,1,335,17850.0,Qty_Lvl_3,Price_Lvl_4
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/10 8:26,2.75,17850.0,United Kingdom,2010-12-01 08:26:00,12,1,335,17850.0,Qty_Lvl_4,Price_Lvl_4
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/10 8:26,3.39,17850.0,United Kingdom,2010-12-01 08:26:00,12,1,335,17850.0,Qty_Lvl_3,Price_Lvl_4
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/10 8:26,3.39,17850.0,United Kingdom,2010-12-01 08:26:00,12,1,335,17850.0,Qty_Lvl_3,Price_Lvl_4

In [12]:
len(df.Description.unique())
len(df.StockCode.unique())

4070

In [13]:
drop = ['InvoiceNo','InvoiceDate','dt_obj','CustomerID','UnitPrice',
        'dt_obj','Quantity']
for_csv = df.drop(drop,1)

In [14]:
for_csv.head()

,StockCode,Description,Country,month_sold,day,day_of_year,customer_id,quantity_groups,price_groups
0,85123A,WHITE HANGING HEART T-LIGHT HOLDER,United Kingdom,12,1,335,17850.0,Qty_Lvl_3,Price_Lvl_3
1,71053,WHITE METAL LANTERN,United Kingdom,12,1,335,17850.0,Qty_Lvl_3,Price_Lvl_4
2,84406B,CREAM CUPID HEARTS COAT HANGER,United Kingdom,12,1,335,17850.0,Qty_Lvl_4,Price_Lvl_4
3,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,United Kingdom,12,1,335,17850.0,Qty_Lvl_3,Price_Lvl_4
4,84029E,RED WOOLLY HOTTIE WHITE HEART.,United Kingdom,12,1,335,17850.0,Qty_Lvl_3,Price_Lvl_4

In [15]:
for_csv.to_csv('numeric_clean.csv',index=False)