In [39]:
# Imports for data-preprocessing
import pandas as pd
import numpy as np
from __future__ import print_function

# Import for spliting the data set
from sklearn.model_selection import StratifiedShuffleSplit
from sklearn.preprocessing import StandardScaler

# Imports for classificaiton 
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.decomposition import PCA 
from sklearn.pipeline import Pipeline
from sklearn import metrics as mt

In [40]:
# Import data
df = pd.read_csv('../data/master.csv')

In [41]:
bins = [17, 34, 49, 64, 90]

group_names = ['17-34', '35-49', '50-64', '65+']

age_groups = pd.cut(df.age, bins, labels=group_names)

df['age_groups'] = age_groups.tolist()

In [42]:
# x = df.drop(['age_groups','age','workclass','education',
#                 'education_num','marital_status','occupation',
#             'native_country','Unnamed: 0'],1)

# y = df.age_groups

# scl = StandardScaler()
# #X = scl.fit_transform(X)

# # Split the data into 20% Test and 80% Train
# sss = StratifiedShuffleSplit(n_splits=10, test_size=0.20, random_state=111)
# sss.get_n_splits(x, y) #retreving the splits

In [43]:
# Delete unwanted variables
del df['workclass']
del df['education']
del df['education_num']
del df['marital_status']
del df['occupation']
del df['native_country'] 
del df['Unnamed: 0']
del df['age']

In [44]:
age.head()

,relationship,race,sex,capital_gain,capital_loss,hours_per_week,income_binary,condensed_education,continent,condensed_marital,condensed_workclass
0,Not-in-family,White,Male,2174,0,40,<=50K,Bachelors,United States,Never,Government
1,Husband,White,Male,0,0,13,<=50K,Bachelors,United States,Married,Self-Employed
2,Not-in-family,White,Male,0,0,40,<=50K,High School Graduate,United States,Divorced/Separated,Private
3,Husband,Black,Male,0,0,40,<=50K,No High School Diploma,United States,Married,Private
4,Wife,Black,Female,0,0,40,<=50K,Bachelors,Caribbean,Married,Private

## Training Testing Split

In [45]:

#Split the data into traning (80%) and test set (20%)
# We are using stratified cross validation here because the majority of the
#    individuals in the variable race are white

if 'age_groups' in df:
    y = (df['age_groups']) #get values we need 
    del df['age_groups']        #get rid of the class label
    X = df.values                  #use everything else to predict 
    
X = pd.get_dummies(df).values

scl = StandardScaler()
#X = scl.fit_transform(X)

# Split the data into 20% Test and 80% Train
sss = StratifiedShuffleSplit(n_splits=10, test_size=0.20, random_state=111)
sss.get_n_splits(X, y) #retreving the splits

10

In [50]:
# Create a for loop that grabs the values for each fold for traing and test sets

y = y.fillna("")
for train_index, test_index in sss.split(X,y):
    print("TRAIN:", train_index, "TEST:", test_index)
    X_train, X_test = X[train_index], X[test_index]
    y_train, y_test = y[train_index], y[test_index]

TRAIN: [ 8492   773 13118 ..., 35980 33511 35588] TEST: [19692 27047 14102 ...,  5491 27134 25133]
TRAIN: [35754 44603 33516 ...,  9966 39949 27930] TEST: [ 6576 30339 39221 ..., 26307 20282 14216]
TRAIN: [ 9692 36813  2848 ..., 16610 48026 24110] TEST: [17088 44904 33742 ..., 39410 34564 24713]
TRAIN: [18717 17405 28960 ..., 17899 20181 28803] TEST: [29770  5237 39991 ..., 19858 25079 39382]
TRAIN: [31784 43606 33743 ..., 43070 11410 40058] TEST: [ 5991  5420 37845 ..., 23131 38821 38455]
TRAIN: [10324 22662 46232 ..., 13002  5850 47428] TEST: [35217 41009 45992 ..., 19937 37685 43961]
TRAIN: [10245 34540 19934 ...,  4642 48455  1175] TEST: [46966 10993 27579 ..., 31110 48759 43327]
TRAIN: [39885  4332  3592 ..., 44157 11660 46607] TEST: [31259 23034  5609 ..., 20253 24091 12492]
TRAIN: [17705 32836 34332 ..., 30752 31903 12175] TEST: [24823 12082 42233 ..., 14850 38281 46484]
TRAIN: [ 9054 18693 13929 ...,  8118 28501 10876] TEST: [37717 40166 28516 ...,  4861 47589  9591]

In [49]:
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics as mt
y = y.fillna("")
# criterion : 'gini' > 'entropy'
# max_features : 0 -> 41 (default is fine)
# bootstrap : keep True
# max_depth : not material

RFC = RandomForestClassifier()

iteration = 1

for train_indices, test_indices in sss.split(X,y.tolist()): 
    X_train = X[train_indices]  # train indices for X
    y_train = y[train_indices]  # train indices for y
    
    X_test = X[test_indices]    # test indices for X
    y_test = y[test_indices]    # test indices for y
    
    # train the reusable KNN classifier on the training data
    RFC.fit(X_train,y_train)  # train object
    y_hat = RFC.predict(X_test) # get test set precitions
    
    print(mt.accuracy_score(y_hat,y_test))

0.552564233801
0.550721670591
0.558603746545
0.546524721056
0.549390930494
0.542634865391
0.542941959259
0.546217627188
0.545398710206
0.548367284267

0        35-49
1        50-64
2        35-49
3        50-64
4        17-34
5        35-49
6        35-49
7        50-64
8        17-34
9        35-49
10       35-49
11       17-34
12       17-34
13       17-34
14       35-49
15       17-34
16       17-34
17       17-34
18       35-49
19       35-49
20       35-49
21       50-64
22       35-49
23       35-49
24       50-64
25       50-64
26       17-34
27       50-64
28       35-49
29       35-49
         ...
48812      65+
48813    50-64
48814    35-49
48815    35-49
48816    35-49
48817    17-34
48818      65+
48819    35-49
48820      65+
48821    17-34
48822    35-49
48823    50-64
48824    17-34
48825    50-64
48826    50-64
48827    50-64
48828    35-49
48829    50-64
48830    17-34
48831    35-49
48832    50-64
48833    17-34
48834    17-34
48835    35-49
48836    17-34
48837    35-49
48838    50-64
48839    35-49
48840    35-49
48841    35-49
Name: age_groups, Length: 48842, dtype: object